
$primary-foreground: #001514;
$primary-background: #f7f6f3;
$secondary-foreground: #0e79b2;
$secondary-background: #fbfef9;
$tertiary-foreground: #9b9ece;
$tertiary-background: #acadbc;

$content-width: 720px;